<table class="table table-sm table-striped">
    <thead>
    <tr>
    <th>Book Name</th><th>Category</th><th>Book ID</th><th>Quantity</th><th>Author</th><th>Publisher</th><th>Purchase Date</th><th>Issue Date</th><th>Changes</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of getProducts()">
   
    <td>{{p.name}}</td>
    <td>{{p.category}}</td>
    <td>{{p.bid}}</td>
    <td>{{p.price}}</td>
    <td>{{p.author}}</td>
    <td>{{p.publisher}}</td>
    <td>{{p.datee}}</td>
    <td>{{p.date}}</td>
 
    <td>
    <button class="btn btn-sm btn-warning"
    [routerLink]="['/admin/main/products/edit', p.id]">
    Edit
    </button>
    <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">
    Delete
    </button>
    </td>
    </tr>
    </tbody>
   </table>
   <button class="btn btn-primary" routerLink="/admin/main/products/create">
    Create New Record
   </button>